body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.banner {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.banner-content {
  padding: 10px 20px;
  background-color: #575757;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

.long-content {
  padding: 20px;
  height: 1000px;
  background-color: #f2f2f2; 
  background-size: cover;
  box-sizing: border-box;
  border-radius: 10px; 
  margin: 15px; 
}

.long-content > p {
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .logo {
    font-size: 1.2rem;
  }
}